**main**
**pycache**
**mypy_cache**

0x03-caching/base_caching.py

0x04-pagination/Popular_Baby_Names.csv

0x05-personal_data/user_data.csv

0x06-Basic_authentication/.db_User.json

0x07-Session_authentication/.db_User.json
0x07-Session_authentication/.db_UserSession.json

0x08-user_authentication_service/main.py

0x0E-ES6_basic/node_modules
0x0E-ES6_basic/.eslintrc.js
0x0E-ES6_basic/babel.config.js
0x0E-ES6_basic/package-lock.json
0x0E-ES6_basic/package.json

0x0F-ES6_promise/node_modules
0x0F-ES6_promise/.eslintrc.js
0x0F-ES6_promise/babel.config.js
0x0F-ES6_promise/package-lock.json
0x0F-ES6_promise/package.json

0x10-ES6_classes/node_modules
0x10-ES6_classes/.eslintrc.js
0x10-ES6_classes/babel.config.js
0x10-ES6_classes/package-lock.json
0x10-ES6_classes/package.json

0x11-ES6_data_manipulation/node_modules
0x11-ES6_data_manipulation/.eslintrc.js
0x11-ES6_data_manipulation/babel.config.js
0x11-ES6_data_manipulation/package-lock.json
0x11-ES6_data_manipulation/package.json

0x12-Node_JS_basic/node_modules
0x12-Node_JS_basic/.eslintrc.js
0x12-Node_JS_basic/babel.config.js
0x12-Node_JS_basic/package-lock.json
0x12-Node_JS_basic/package.json
0x12-Node_JS_basic/database.csv

0x14-queuing_system_in_js/node_modules
0x14-queuing_system_in_js/redis*
0x14-queuing_system_in_js/.eslintrc.js
0x14-queuing_system_in_js/babel.config.js
0x14-queuing_system_in_js/package-lock.json
0x14-queuing_system_in_js/package.json
0x14-queuing_system_in_js/.babelrc
