**main**
**pycache**
**mypy_cache**

0x03-caching/base_caching.py

0x04-pagination/Popular_Baby_Names.csv

0x05-personal_data/user_data.csv

0x06-Basic_authentication/.db_User.json

0x07-Session_authentication/.db_User.json
0x07-Session_authentication/.db_UserSession.json

0x08-user_authentication_service/main.py

0x0E-ES6_basic/node_modules
0x0E-ES6_basic/.eslintrc.js
0x0E-ES6_basic/babel.config.js
0x0E-ES6_basic/package-lock.json
0x0E-ES6_basic/package.json

0x0F-ES6_promise/node_modules
0x0F-ES6_promise/.eslintrc.js
0x0F-ES6_promise/babel.config.js
0x0F-ES6_promise/package-lock.json
0x0F-ES6_promise/package.json
